source /boot/grub/config.cfg
set timeout=-1
menuentry 'Install PlainNVR OS' {
    set gfxpayload=text
    echo 'Loading PlainNVR live installer kernel...'
    linux @KERNEL_LIVE@ boot=live components plainnvr.installer systemd.unit=multi-user.target systemd.wants=plainnvr-live-installer.service
    echo 'Loading live environment. Please wait...'
    initrd @INITRD_LIVE@
    echo 'Starting PlainNVR installer...'
}
menuentry 'Install PlainNVR OS (compatibility graphics)' {
    set gfxpayload=text
    echo 'Loading compatibility installer kernel...'
    linux @KERNEL_LIVE@ boot=live components nomodeset plainnvr.installer systemd.unit=multi-user.target systemd.wants=plainnvr-live-installer.service
    echo 'Loading live environment. Please wait...'
    initrd @INITRD_LIVE@
    echo 'Starting PlainNVR installer...'
}
menuentry 'Advanced: Debian text installer' {
    set gfxpayload=text
    linux @KERNEL_DI@ @APPEND_INSTALL@
    initrd @INITRD_DI@
}
menuentry 'Rescue an installed system' {
    linux @KERNEL_DI@ rescue/enable=true @APPEND_INSTALL@ --- quiet
    initrd @INITRD_DI@
}
menuentry 'GParted storage tools (live USB)' {
    linux @KERNEL_LIVE@ boot=live components plainnvr.storage-tools systemd.unit=multi-user.target systemd.wants=plainnvr-storage-tools.service
    initrd @INITRD_LIVE@
}
