source /boot/grub/config.cfg
set timeout=-1
menuentry 'Install PlainNVR OS' {
    linux @KERNEL_GI@ vga=788 @APPEND_INSTALL@ --- quiet
    initrd @INITRD_GI@
}
menuentry 'Install PlainNVR OS (text mode)' {
    linux @KERNEL_DI@ @APPEND_INSTALL@ --- quiet
    initrd @INITRD_DI@
}
menuentry 'Install PlainNVR OS on two mirrored boot drives' {
    linux @KERNEL_GI@ vga=788 @APPEND_INSTALL@ plainnvr.mirror=1 --- quiet
    initrd @INITRD_GI@
}
menuentry 'Rescue an installed system' {
    linux @KERNEL_DI@ rescue/enable=true @APPEND_INSTALL@ --- quiet
    initrd @INITRD_DI@
}
menuentry 'GParted storage tools (live USB)' {
    linux @KERNEL_LIVE@ boot=live components plainnvr.storage-tools systemd.unit=multi-user.target systemd.wants=plainnvr-storage-tools.service
    initrd @INITRD_LIVE@
}
